/*------------------------------------Global*/

.MenuItemSummary-container {
    background-image: url('https://res.cloudinary.com/dwyxur7sy/image/upload/v1691412692/react_app_ourmenu/Summary_Background_nwahxj.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  
  /*------------------------------------Header*/
  
  .MenuItemSummary-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .MenuItemSummary-header h1 {
    color: black;
    font-size: 3rem;
  }
  
  /*------------------------------------Instructions*/

  .MenuItemSummary-instructions {
    margin-bottom: 20px;
  }
  
  .MenuItemSummary-instructions p {
    color: #333;
    font-size: 0.8rem;
  }
  
  /*------------------------------------Items*/
  
  .MenuItemSummary-items {
    background-color: rgba(255, 255, 255, 0.666); /* Set a transparent white background */
    padding: 10px;
    border-radius: 11px;
    margin: 20px 0;
    text-align: center;
  }
  
  .MenuItemSummary-items ol {
    padding: 0;
    margin: 0;
  }
  
  .MenuItemSummary-items li {
    list-style: none;
    border-bottom-style: groove;
    font-weight: 600;
  }
  .MenuItemSummary-total{
    font-weight: bold;
    font-size: 1.1rem; 
    color: #333;
  }
  
/*------------------------------------Buttons*/

.MenuSummary-button-wrapper-delete-confirm {
  display: flex;
  justify-content:space-between;
  align-items:center;
  position: absolute;
  bottom: 20px;
  width: 100vw;
}

.MenuSummary-button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
  
.MenuSummary-button:focus {
    outline: none;
}

#MenuSummary-Update {
   color:  #fff;
   background-color: blue;
   font-weight: 600;
}

#MenuSummary-Update:hover {
   background-color: darkblue;
   font-weight: 700;
}
  
#MenuSummary-Delete {
    background-color: #ab4038;
    color: #fff;
    font-weight: 600;
}
  
#MenuSummary-Delete:hover {
    background-color: #d64c42;
    font-weight: 700;
}
  
#MenuSummary-Home {
    background-color: #2a722d;
    color: #fff;
    font-weight: 600;
}

#MenuSummary-Home:hover {
    background-color: #43a946;
    font-weight: 700;
}

/*------------------------------------media Queries*/

@media (max-width: 950px) {
    .MenuItemSummary-header h1 {
        margin-top: 16%;
        font-size: 2rem;
    }
    .MenuItemSummary-instructions p {
        font-size: 0.6rem;
    }
}

@media (max-width: 600px) {
    .MenuItemSummary-header h1 {
        margin-top: 0%;
        text-align: right;
        font-size: 1.3rem;
    }
    .MenuItemSummary-instructions p {
        font-size: 0.4rem;
        margin-top: 24%;
    }
    .MenuItemSummary-header hr {
        display: none;
    }
    .MenuItemSummary-items li {
      font-size: 0.8rem;
    }
}

@media (max-width: 357px) {
    .MenuItemSummary-header h1 {
        margin-top: 0%;
        text-align: right;
        font-size: 0.8rem;
    }
    .MenuItemSummary-instructions p {
        font-size: 0.2rem;
        margin-top: 36%;
    }

}

  @media (max-width: 300px) {
    .MenuItemSummary-header h1 {
        font-size: 0.6rem;
  }
  .MenuItemSummary-items li {
    font-size: 0.6rem;
  }
}

