/* styles.css */
body {
    background-image: url('https://res.cloudinary.com/dwyxur7sy/image/upload/v1690816129/react_app_ourmenu/Background_qoegvg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .navbar-text {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .navbar-text:hover {
    text-decoration: underline;
    color: brown;
  }
  
  /* Custom dropdown styles */
  .navbar-menu-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
  }
  
  .navbar-menu-dropdown.open .menu-items {
    display: block;
  }
  
  .menu-items.show {
    display: block;
  }
  
  .menu-items ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu-items li {
    padding: 5px;
    list-style: none; /* Remove bullets */
  }
  
  .menu-items li:hover {
    background-color: #f1f1f1;
  }
  