/* styles.css */

/* Global styles */
body {
  background-image: url('https://res.cloudinary.com/dwyxur7sy/image/upload/v1690816129/react_app_ourmenu/Background_qoegvg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this if needed */
}

/* Navbar styles */
.navbar {
  background-color: #f8f9fa;
}

.navbar-text {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.navbar-text:hover {
  text-decoration: underline;
  color: brown;
}

/* Custom dropdown styles */
.navbar-menu-dropdown {
  position: relative;
  display: inline-block;
}


.menu-item:hover {
  background-color: #f1f1f1;
}

.navbar-menu-dropdown.open .menu-items {
  display: block;
}

.menu-items {
  position: relative;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 10px;
}


.menu-item.active .sidebar {
  display: block;
}


.menu-item.active .sidebar {
  display: block;
}

.sidebar {
  margin-top: 10px; 
  top: 0;
  right: 0;
  z-index: 1000;
  position: relative;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 200px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px; 
}

.sidebar li {
  padding: 5px;
}

.sidebar li:hover {
  background-color: #f1f1f1;
}

@media (min-width: 992px) {
  .navbar-menu-dropdown {
    display: inline-block;
  }

  .menu-items {
    position: absolute;
    top: 100%;
    left: 0;
  }

  .menu-item .sidebar {
    position: absolute;
    top: 0;
    left: -100%;
  }

  .menu-item.active .sidebar {
    left: 100%;
  }
}
